In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving tmdb_5000_credits.csv to tmdb_5000_credits.csv

In [ ]:
import io
credits=pd.read_csv(io.BytesIO(uploaded['tmdb_5000_credits.csv']))

In [ ]:
from google.colab import files
up=files.upload()

Saving tmdb_5000_movies.csv to tmdb_5000_movies.csv

In [ ]:
movies=pd.read_csv(io.BytesIO(up['tmdb_5000_movies.csv']))

In [ ]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [ ]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Let us now merge the 2 datadets

In [ ]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [ ]:
movies.shape

(4809, 23)

Dropping certain columns that does not require for our recommendation system

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [ ]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [ ]:
movies.duplicated().sum()

0

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
import ast
def convert(obj):
  L=[]
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
movies['genres']=movies['genres'].apply(convert)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['keywords']=movies['keywords'].apply(convert)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
def convert3(obj):
  L=[]
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:
      L.append(i['name'])
    else:
      break
  return L

In [ ]:
movies['cast']=movies['cast'].apply(convert3)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
def fetch_director(obj):
  L=[]
  for i in ast.literal_eval(obj):
    if i['job']=='Director':
       L.append(i['name'])
       break
  return L

In [ ]:
movies['crew']=movies['crew'].apply(fetch_director)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [ ]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [ ]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [ ]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 1, 2, ,, , "", n, a, m,...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 2, 8, ,, , "", n, a, m,...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
df=movies[['movie_id','title','tags']]

In [ ]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
df['tags']=df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. [ { " i d " :  2 8 ,  " n a m e " :  " A c t i o n " } ,  { " i d " :  1 2 ,  " n a m e " :  " A d v e n t u r e " } ,  { " i d " :  1 4 ,  " n a m e " :  " F a n t a s y " } ,  { " i d " :  8 7 8 ,  " n a m e " :  " S c i e n c e  F i c t i o n " } ] cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron'

In [ ]:
df['tags']=df['tags'].apply(lambda x:x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['tags'][1]

'captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. [ { " i d " :  1 2 ,  " n a m e " :  " a d v e n t u r e " } ,  { " i d " :  1 4 ,  " n a m e " :  " f a n t a s y " } ,  { " i d " :  2 8 ,  " n a m e " :  " a c t i o n " } ] ocean drugabuse exoticisland eastindiatradingcompany loveofone\'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley stellanskarsgård chowyun-fat billnighy geoffreyrush jackdavenport kevinmcnally tomhollander naomieharris jonathanpryce keithrichards leearenberg mackenziecrook gregellis davidbailie martinklebba davidschofield laurenmaher vanessabranch angusbarnett gilesnew reggielee dominicscottkay takayofischer davidmeunier ho-kwantse andybeckwith peterdonaldbadalamentiii christophers.capp keithrichards hakeemkae-kazim ghassanmassoud goreverbinski'

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [ ]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron')

'In the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene jamescameron'

In [ ]:
df['tags']=df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Vectorizing our dataset

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vectors=cv.fit_transform(df['tags']).toarray()

In [ ]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vectors.shape

(4806, 5000)

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930',
 '1940',
 '1950',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1980',
 '1990',
 '19th',
 '19thcenturi',
 '20',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'aasifmandvi',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abrahambenrubi',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adambrodi',
 'adamgoldberg',
 'adamlefevr',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adewaleakinnuoye',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianmartinez',
 'adrianscarborough',
 'adrienbrodi',
 'adult',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'agbaj',
 'age',
 'agediffer',
 'agency',
 'agenda',
 'agent',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airport',
 'aka',
 'al',
 'alanalda',
 'alanarkin',
 'alancum',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcohol',
 'alecbaldwin',
 'alecguin',
 'alessandronivola',
 'alex',
 'alexandersiddig',
 'alexapenavega',
 'alexborstein',
 'alexisbledel',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'ali',
 'alic',
 'alice',
 'alicedrummond',
 'aliciawitt',
 'alien',
 'alieninvas',
 'alienlife',
 'alilart',
 'aliv',
 'alive',
 'allancordun',
 'allen',
 'allencovert',
 'alleong',
 'alli',
 'allianc',
 'allisonjanney',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alreadi',
 'alter',
 'altern',
 'alunarmstrong',
 'alway',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'ambassador',
 'amberheard',
 'ambervalletta',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'americaferrera',
 'american',
 'americanfootbal',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amus',
 'amusementpark',
 'amyadam',
 'amypoehl',
 'amyryan',
 'amysedari',
 'amysmart',
 'anagastey',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowel',
 'andreamartin',
 'andrebraugh',
 'andrew',
 'andrewdali',
 'andrewstanton',
 'android',
 'andydick',
 'andygarcía',
 'andyricht',
 'andysamberg',
 'andyserki',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'anger',
 'angle',
 'angri',
 'angusmacinn',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'annalevin',
 'annapaquin',
 'annasophiarobb',
 'anndowd',
 'anne',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annikaperga',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antihero',
 'antonicoron',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypt',
 'appar',
 'appear',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'arab',
 'archaeologist',
 'architect',
 'arci',
 'arctic',
 'area',
 'arena',
 'argument',
 'arielwint',
 'arigraynor',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'arminmueller',
 'armsdeal',
 'armstrong',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'arthurj',
 'arthurtovey',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'ask',
 'aspir',
 'assassin',
 'assault',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'athlet',
 'atomicbomb',
 'attack',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'august',
 'aunjanueelli',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'auto',
 'avaacr',
 'aveng',
 'avoid',
 'await',
 'awaken',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'azizansari',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'balanc',
 'ball',
 'ballet',
 'band',
 'bandit',
 'banish',
 'bank',
 'banker',
 'bankrobberi',
 'baptist',
 'bar',
 'barbarahershey',
 'bare',
 'bargain',
 'barn',
 'barney',
 'barri',
 'barrylevinson',
 'barrypepp',
 'barryshabakahenley',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'bdwong',
 'beach',
 'bear',
 'beast',
 'beat',
 'beaubridg',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'beccasweitz',
 'becom',
 'becominganadult',
 'bed',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'behavior',
 'belief',
 'believ',
 'bell',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benchaplin',
 'bend',
 'benedictcumberbatch',
 'benfost',
 'bengazzara',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'benmendelsohn',
 'bennett',
 'benstil',
 'bent',
 'benwhishaw',
 'berlin',
 'bernardhil',
 'bernardle',
 'berniemac',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'bethgrant',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'big',
 'biggest',
 'biker',
 'billcamp',
 'billcobb',
 'billduk',
 'billhad',
 'billi',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billnunn',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburk',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billydeewilliam',
 'billyslaught',
 'billyzan',
 'biographi',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blackpeopl',
 'blade',
 'blakeclark',
 'blame',
 'blind',
 'bliss',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'blythedann',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbalaban',
 'bobbergen',
 'bobbi',
 'bobbycannaval',
 'bobbyfarrelli',
 'bobbymoynihan',
 'bobclendenin',
 'bobgunton',
 'bobhoskin',
 'bobodenkirk',
 'bobstephenson',
 'bodi',
 'body',
 'bodyguard',
 'bokeemwoodbin',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'bonniehunt',
 'book',
 'border',
 'bore',
 'born',
 'boss',
 'boston',
 'bound',
 'bounti',
 'bountyhunt',
 'box',
 'boxer',
 'boy',
 'boydbank',
 'boydholbrook',
 'boyfriend',
 'boys',
 'braddourif',
 'bradgarrett',
 'bradleycoop',
 'bradleywhitford',
 'bradpitt',
 'bradwilliamhenk',
 'brain',
 'brand',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breckinmey',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brendansextoniii',
 'brentbrisco',
 'brentspin',
 'brettcullen',
 'brettratn',
 'brian',
 'briancox',
 'briandennehi',
 'briandepalma',
 'briandoyle',
 'brianj',
 'briano',
 'bride',
 'bridg',
 'bridgettewilson',
 'brief',
 'brielarson',
 'brien',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'brook',
 'brooklyn',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucedern',
 'brucegreenwood',
 'brucemcgil',
 'brucesp',
 'brucewilli',
 'brutal',
 'bryan',
 'bryancranston',
 'bryansing',
 'brycedallashoward',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'burglar',
 'buri',
 'burn',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butler',
 'buy',
 'byrn',
 'cabin',
 'cal',
 'california',
 'callumkeithrenni',
 'calvin',
 'came',
 'camera',
 'cameron',
 'cameronbright',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campbel',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cannib',
 'capabl',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'caraseymour',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagallo',
 'carlagugino',
 'carlo',
 'carlosalazraqui',
 'carmen',
 'carmenelectra',
 'carol',
 'carolineaaron',
 'carolinegoodal',
 'carolkan',
 'carrac',
 'carri',
 'carrie',
 'carriefish',
 'cartel',
 'carter',
 'cary',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinekeen',
 'catherineo',
 'catherinezeta',
 'cathey',
 'cathol',
 'catholic',
 'caught',
 'caus',
 'cave',
 'cedrictheentertain',
 'celebr',
 'celiaimri',
 'celiaweston',
 'cellphon',
 'cemeteri',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'certain',
 'chadmichaelmurray',
 'chain',
 'chainsaw',
 'challeng',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chancekelli',
 'chang',
 'channingtatum',
 'chao',
 'chaos',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlesd',
 'charlesdurn',
 'charlesnapi',
 'charless',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotterampl',
 'charltonheston',
 'charm',
 'chase',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheechmarin',
 'cheerlead',
 'chef',
 'chelcieross',
 'chemic',
 'cher',
 'cherryjon',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'children',
 'chill',
 'chimcbrid',
 'china',
 'chines',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigni',
 'choic',
 'choos',
 'chosen',
 'chri',
 'chrisbrown',
 'chriscolumbu',
 'chriscoop',
 'chriselli',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chrismessina',
 'chrismil',
 'chriso',
 'chrisparnel',
 'chrispenn',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christinaappleg',
 'christinaricci',
 'christinebaranski',
 'christma',
 'christmas',
 'christmasparti',
 'christoph',
 'christopherfairbank',
 'christopherguest',
 'christopherknight',
 'christopherlambert',
 'christopherle',
 'christopherlloyd',
 'christophermcdonald',
 'christophermeloni',
 'christophermintz',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chronicl',
 'church',
 'cia',
 'ciaránhind',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clancybrown',
 'clark',
 'clarkduk',
 'clarkgregg',
 'clash',
 'class',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'cleaduval',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffcurti',
 'cliftoncollinsjr',
 'climat',
 'climb',
 'clinteastwood',
 'clinthoward',
 'cliveowen',
 'clock',
 'clone',
 'clorisleachman',
 'close',
 'closer',
 'clown',
 'club',
 'clue',
 'coach',
 'coast',
 'cocain',
 'code',
 'codycameron',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colehaus',
 'colinfarrel',
 'colinfirth',
 'colinhank',
 'colinsalmon',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleencamp',
 'colleg',
 'college',
 'collid',
 'collin',
 'collis',
 'colmfeor',
 'colmmeaney',
 'colonel',
 'coloni',
 'color',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commit',
 'common',
 'commun',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compton',
 'comput',
 'conan',
 'concern',
 'concert',
 'conchataferrel',
 'condit',
 'confess',
 'confid',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connel',
 'connienielsen',
 'connieray',
 'connor',
 'conquer',
 'conradvernon',
 'consequ',
 'consequences',
 'consid',
 'conspir',
 'conspiraci',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'contest',
 'continu',
 'contract',
 'control',
 'controversi',
 'convent',
 'convict',
 'convinc',
 'cook',
 'cool',
 'cooper',
 'cop',
 'cope',
 'core',
 'coreyburton',
 'coreystol',
 'corner',
 'corpor',
 'corps',
 ...]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
similarity[1]

array([0.        , 1.        , 0.02695819, ..., 0.02273314, 0.        ,
       0.02411214])

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 1.0),
 (1216, 0.23533936216582085),
 (582, 0.2076136996343499),
 (2409, 0.19069251784911848),
 (1920, 0.18708286933869708),
 (3608, 0.18526206815833912),
 (2333, 0.18450624160577703),
 (507, 0.18371173070873836),
 (778, 0.17374889710522773),
 (539, 0.17320508075688773),
 (3730, 0.17251638983558856),
 (2786, 0.16484511834894675),
 (74, 0.1614429614050549),
 (3538, 0.1559625734730109),
 (1089, 0.149071198499986),
 (2971, 0.14532958974404495),
 (1204, 0.14467284665112365),
 (3675, 0.14467284665112362),
 (3327, 0.14301938838683886),
 (151, 0.1414213562373095),
 (4192, 0.1414213562373095),
 (529, 0.13837968120433278),
 (1321, 0.13801311186847084),
 (577, 0.1355815361366601),
 (4048, 0.13421887304828983),
 (184, 0.1336306209562122),
 (2731, 0.1318760946791574),
 (1479, 0.12909944487358055),
 (3162, 0.12792042981336627),
 (373, 0.1264911064067352),
 (2515, 0.1264911064067352),
 (843, 0.125),
 (2204, 0.125),
 (4336, 0.125),
 (322, 0.12346619958119871),
 (305, 0.1224744871391589),
 (47, 0.12222530175967618),
 (27, 0.12146644952683741),
 (595, 0.12056070554260304),
 (1071, 0.12056070554260304),
 (1774, 0.11744404390294069),
 (1275, 0.11547005383792515),
 (1056, 0.11531640100361064),
 (4538, 0.11531640100361064),
 (4, 0.11410886614690963),
 (2284, 0.11410886614690963),
 (1329, 0.11359236684941297),
 (220, 0.11180339887498948),
 (1201, 0.11180339887498948),
 (1537, 0.11180339887498948),
 (579, 0.11009637651263607),
 (1178, 0.11009637651263607),
 (502, 0.10963225241337866),
 (838, 0.1095445115010332),
 (1348, 0.10882143751650175),
 (3999, 0.10882143751650175),
 (3083, 0.10606601717798213),
 (150, 0.10476454436543672),
 (3628, 0.10397504898200727),
 (692, 0.1029233711990773),
 (342, 0.10289915108550529),
 (1560, 0.10259783520851541),
 (172, 0.09890707100936805),
 (3982, 0.09890707100936805),
 (1965, 0.09882117688026186),
 (139, 0.09805806756909202),
 (1383, 0.09759000729485333),
 (2652, 0.09682458365518543),
 (557, 0.09644856443408242),
 (300, 0.09534625892455924),
 (1355, 0.09534625892455924),
 (61, 0.09486832980505139),
 (495, 0.09486832980505139),
 (1322, 0.0944911182523068),
 (438, 0.09428090415820634),
 (536, 0.09428090415820634),
 (942, 0.09428090415820634),
 (311, 0.09325048082403138),
 (549, 0.09325048082403138),
 (889, 0.09214426752509268),
 (36, 0.0912870929175277),
 (41, 0.0912870929175277),
 (454, 0.0912870929175277),
 (513, 0.0912870929175277),
 (2789, 0.0912870929175277),
 (1357, 0.09035079029052512),
 (260, 0.08964214570007953),
 (2216, 0.08964214570007953),
 (937, 0.08808303292720551),
 (973, 0.08808303292720551),
 (2547, 0.08770580193070293),
 (3462, 0.08770580193070293),
 (3630, 0.08770580193070293),
 (4587, 0.08770580193070293),
 (149, 0.08730378697119727),
 (589, 0.08687444855261388),
 (461, 0.08660254037844387),
 (972, 0.08660254037844387),
 (2760, 0.08606629658238704),
 (2099, 0.08528028654224418),
 (2740, 0.08528028654224418),
 (2873, 0.08528028654224418),
 (878, 0.08519427513705972),
 (2148, 0.08519427513705972),
 (1715, 0.08451542547285167),
 (236, 0.08385254915624211),
 (568, 0.08385254915624211),
 (661, 0.08304547985373996),
 (1220, 0.08304547985373996),
 (4506, 0.08304547985373996),
 (3409, 0.08257228238447706),
 (2247, 0.08257228238447704),
 (1444, 0.0816496580927726),
 (275, 0.08134892168199606),
 (787, 0.08134892168199606),
 (4079, 0.08134892168199606),
 (1741, 0.0809776330178916),
 (91, 0.08017837257372731),
 (855, 0.08017837257372731),
 (1344, 0.08017837257372731),
 (4019, 0.08017837257372731),
 (2556, 0.07905694150420949),
 (3117, 0.07905694150420949),
 (4236, 0.07905694150420949),
 (239, 0.07844645405527362),
 (1166, 0.07798128673650545),
 (1982, 0.07798128673650545),
 (3622, 0.07798128673650545),
 (4230, 0.07798128673650545),
 (4545, 0.07726674092862558),
 (1097, 0.07694837640638656),
 (3164, 0.07694837640638656),
 (158, 0.07669649888473705),
 (1488, 0.07669649888473705),
 (2674, 0.07669649888473705),
 (2970, 0.07669649888473705),
 (2999, 0.07669649888473705),
 (1002, 0.0761386987626881),
 (168, 0.075955452531275),
 (632, 0.075955452531275),
 (3874, 0.075955452531275),
 (4268, 0.075955452531275),
 (307, 0.07503752814845803),
 (1771, 0.07500000000000001),
 (3839, 0.074535599249993),
 (4011, 0.074535599249993),
 (1273, 0.07407971974871923),
 (1497, 0.07402332101976053),
 (3147, 0.07402332101976053),
 (1015, 0.07319250547113999),
 (1145, 0.07319250547113999),
 (2241, 0.07319250547113999),
 (3235, 0.07319250547113999),
 (2772, 0.07254762501100116),
 (3663, 0.07254762501100116),
 (83, 0.07233642332556181),
 (1401, 0.07233642332556181),
 (4483, 0.07233642332556181),
 (206, 0.07207499701564472),
 (1831, 0.07150969419341943),
 (1301, 0.07071067811865475),
 (1655, 0.07071067811865475),
 (2584, 0.07071067811865475),
 (2787, 0.07071067811865475),
 (4205, 0.07071067811865475),
 (67, 0.06993786061802354),
 (445, 0.06993786061802354),
 (1846, 0.06993786061802354),
 (3020, 0.06993786061802354),
 (479, 0.06984302957695782),
 (2372, 0.06918984060216639),
 (1254, 0.06900655593423542),
 (1373, 0.06900655593423542),
 (3217, 0.06900655593423542),
 (3976, 0.06900655593423542),
 (108, 0.06846531968814579),
 (900, 0.06846531968814579),
 (3553, 0.06846531968814579),
 (189, 0.0674199862463242),
 (2456, 0.0674199862463242),
 (2551, 0.0674199862463242),
 (2622, 0.0674199862463242),
 (3195, 0.0674199862463242),
 (3716, 0.0674199862463242),
 (95, 0.0670820393249937),
 (1175, 0.0670820393249937),
 (1765, 0.0670820393249937),
 (2488, 0.0670820393249937),
 (3881, 0.0670820393249937),
 (3, 0.06666666666666667),
 (432, 0.06642111641550714),
 (2109, 0.06642111641550714),
 (668, 0.0659380473395787),
 (3736, 0.0659380473395787),
 (3901, 0.0659380473395787),
 (4351, 0.0659380473395787),
 (4472, 0.0659380473395787),
 (43, 0.0657793514480272),
 (752, 0.0657793514480272),
 (1512, 0.0657793514480272),
 (2219, 0.0657793514480272),
 (157, 0.06454972243679029),
 (3345, 0.06454972243679029),
 (3537, 0.06454972243679029),
 (4622, 0.06454972243679029),
 (4793, 0.06454972243679029),
 (26, 0.06454972243679027),
 (671, 0.06454972243679027),
 (740, 0.06454972243679027),
 (1455, 0.06454972243679027),
 (3093, 0.06454972243679027),
 (1418, 0.06396021490668313),
 (111, 0.06338656910463875),
 (270, 0.06338656910463875),
 (635, 0.06338656910463875),
 (997, 0.06338656910463875),
 (476, 0.0632455532033676),
 (581, 0.0632455532033676),
 (1486, 0.0632455532033676),
 (3954, 0.0632455532033676),
 (4112, 0.0632455532033676),
 (4652, 0.0632455532033676),
 (56, 0.062017367294604234),
 (487, 0.062017367294604234),
 (1045, 0.062017367294604234),
 (1274, 0.062017367294604234),
 (1304, 0.062017367294604234),
 (2075, 0.062017367294604234),
 (3448, 0.062017367294604234),
 (4125, 0.062017367294604234),
 (4468, 0.062017367294604234),
 (274, 0.061922175577258744),
 (425, 0.06175402271944638),
 (85, 0.061721339984836775),
 (4692, 0.06123724356957946),
 (1878, 0.06123724356957945),
 (3560, 0.06123724356957945),
 (1573, 0.060858061945018464),
 (3135, 0.060858061945018464),
 (3376, 0.060858061945018464),
 (3483, 0.060858061945018464),
 (4408, 0.060858061945018464),
 (102, 0.0607332247634187),
 (170, 0.0607332247634187),
 (1405, 0.0607332247634187),
 (1538, 0.0607332247634187),
 (3441, 0.0607332247634187),
 (3331, 0.06030226891555273),
 (1531, 0.060241449667687415),
 (244, 0.05976143046671968),
 (701, 0.05976143046671968),
 (1194, 0.05976143046671968),
 (2648, 0.05976143046671968),
 (3301, 0.05976143046671968),
 (3678, 0.05976143046671968),
 (3919, 0.05976143046671968),
 (4046, 0.05976143046671968),
 (1775, 0.05883484054145521),
 (134, 0.058722021951470346),
 (249, 0.058722021951470346),
 (2718, 0.058722021951470346),
 (3131, 0.058722021951470346),
 (2397, 0.05838742081211422),
 (141, 0.057735026918962574),
 (368, 0.057735026918962574),
 (564, 0.057735026918962574),
 (678, 0.057735026918962574),
 (1031, 0.057735026918962574),
 (1207, 0.057735026918962574),
 (1745, 0.057735026918962574),
 (1854, 0.057735026918962574),
 (2093, 0.057735026918962574),
 (2865, 0.057735026918962574),
 (3109, 0.057735026918962574),
 (4754, 0.057735026918962574),
 (1356, 0.057522374163552784),
 (1439, 0.057522374163552784),
 (3368, 0.0574959574576069),
 (1491, 0.057353933467640436),
 (153, 0.05710402407201608),
 (213, 0.05710402407201608),
 (246, 0.05710402407201608),
 (785, 0.05710402407201608),
 (1926, 0.05710402407201608),
 (2203, 0.05710402407201608),
 (1534, 0.05710402407201607),
 (294, 0.056796183424706485),
 (1096, 0.056796183424706485),
 (1504, 0.056796183424706485),
 (1586, 0.056796183424706485),
 (1928, 0.056796183424706485),
 (1945, 0.056796183424706485),
 (2644, 0.056796183424706485),
 (2660, 0.056796183424706485),
 (2741, 0.056796183424706485),
 (2817, 0.056796183424706485),
 (2955, 0.056796183424706485),
 (3754, 0.056796183424706485),
 (1007, 0.056694670951384085),
 (1659, 0.056694670951384085),
 (3431, 0.056694670951384085),
 (286, 0.05669467095138408),
 (17, 0.05629399687806011),
 (18, 0.05629399687806011),
 (2570, 0.05629399687806011),
 (127, 0.055901699437494755),
 (281, 0.055901699437494755),
 (363, 0.055901699437494755),
 (87, 0.05590169943749474),
 (148, 0.05590169943749474),
 (544, 0.05590169943749474),
 (775, 0.05590169943749474),
 (931, 0.05590169943749474),
 (1378, 0.05590169943749474),
 (2400, 0.05590169943749474),
 (3084, 0.05590169943749474),
 (3115, 0.05590169943749474),
 (3297, 0.05590169943749474),
 (3926, 0.05590169943749474),
 (4097, 0.05590169943749474),
 (4173, 0.05590169943749474),
 (4578, 0.05590169943749474),
 (1487, 0.05514109665703558),
 (313, 0.055048188256318034),
 (2060, 0.055048188256318034),
 (2175, 0.055048188256318034),
 (2902, 0.055048188256318034),
 (3233, 0.055048188256318034),
 (4042, 0.055048188256318034),
 (1574, 0.05441071875825087),
 (31, 0.05423261445466404),
 (422, 0.05423261445466404),
 (680, 0.05423261445466404),
 (1161, 0.05423261445466404),
 (1519, 0.05423261445466404),
 (1616, 0.05423261445466404),
 (2496, 0.05423261445466404),
 (4558, 0.05423261445466404),
 (2367, 0.05405624776173354),
 (754, 0.05345224838248488),
 (863, 0.05345224838248488),
 (901, 0.05345224838248488),
 (1237, 0.05345224838248488),
 (1747, 0.05345224838248488),
 (2181, 0.05345224838248488),
 (2295, 0.05345224838248488),
 (3744, 0.05345224838248488),
 (790, 0.053367605022361514),
 (229, 0.05336760502236151),
 (295, 0.05270462766947299),
 (616, 0.05270462766947299),
 (1181, 0.05270462766947299),
 (1290, 0.05270462766947299),
 (1808, 0.05270462766947299),
 (2419, 0.05270462766947299),
 (3028, 0.05270462766947299),
 (3299, 0.05270462766947299),
 (3507, 0.05270462766947299),
 (3634, 0.05270462766947299),
 (4757, 0.05270462766947299),
 (2115, 0.05238227218271836),
 (3212, 0.05234239225902137),
 (492, 0.051987524491003634),
 (687, 0.051987524491003634),
 (1109, 0.051987524491003634),
 (1823, 0.051987524491003634),
 (2253, 0.051987524491003634),
 (4624, 0.051987524491003634),
 (223, 0.051298917604257706),
 (988, 0.051298917604257706),
 (1294, 0.051298917604257706),
 (2768, 0.051298917604257706),
 (3340, 0.051298917604257706),
 (3449, 0.051298917604257706),
 (3673, 0.051298917604257706),
 (4512, 0.051298917604257706),
 (4640, 0.051298917604257706),
 (75, 0.05063696835418333),
 (122, 0.05063696835418333),
 (430, 0.05063696835418333),
 (449, 0.05063696835418333),
 (510, 0.05063696835418333),
 (871, 0.05063696835418333),
 (2440, 0.05063696835418333),
 (2552, 0.05063696835418333),
 (3182, 0.05063696835418333),
 (3206, 0.05063696835418333),
 (3838, 0.05063696835418333),
 (4087, 0.05063696835418333),
 (160, 0.05028011423654932),
 (214, 0.05),
 (312, 0.05),
 (1086, 0.05),
 (1232, 0.05),
 (1614, 0.05),
 (1929, 0.05),
 (2018, 0.05),
 (2235, 0.05),
 (2376, 0.05),
 (2813, 0.05),
 (3475, 0.05),
 (3497, 0.05),
 (3720, 0.05),
 (3755, 0.05),
 (3864, 0.05),
 (4180, 0.05),
 (4341, 0.05),
 (21, 0.049386479832479485),
 (655, 0.049386479832479485),
 (1070, 0.049386479832479485),
 (2449, 0.049386479832479485),
 (2592, 0.049386479832479485),
 (2593, 0.049386479832479485),
 (2938, 0.049386479832479485),
 (3022, 0.049386479832479485),
 (3423, 0.049386479832479485),
 (3783, 0.049386479832479485),
 (480, 0.048795003647426664),
 (521, 0.048795003647426664),
 (2450, 0.048795003647426664),
 (2650, 0.048795003647426664),
 (3935, 0.048795003647426664),
 (4080, 0.048795003647426664),
 (4265, 0.048795003647426664),
 (94, 0.04822428221704121),
 (1231, 0.04822428221704121),
 (2701, 0.04822428221704121),
 (3008, 0.04822428221704121),
 (3300, 0.04822428221704121),
 (3305, 0.04822428221704121),
 (3737, 0.04822428221704121),
 (1428, 0.04791574237499549),
 (204, 0.04767312946227962),
 (643, 0.04767312946227962),
 (1427, 0.04767312946227962),
 (2021, 0.04767312946227962),
 (2432, 0.04767312946227962),
 (2669, 0.04767312946227962),
 (3255, 0.04767312946227962),
 (3733, 0.04767312946227962),
 (4246, 0.04767312946227962),
 (4606, 0.04767312946227962),
 (166, 0.04714045207910317),
 (266, 0.04714045207910317),
 (626, 0.04714045207910317),
 (1149, 0.04714045207910317),
 (1446, 0.04714045207910317),
 (1847, 0.04714045207910317),
 (2527, 0.04714045207910317),
 (3140, 0.04714045207910317),
 (3310, 0.04714045207910317),
 (3611, 0.04714045207910317),
 (3910, 0.04714045207910317),
 (4325, 0.04714045207910317),
 (46, 0.04662524041201569),
 (737, 0.04662524041201569),
 (908, 0.04662524041201569),
 (1970, 0.04662524041201569),
 (2467, 0.04662524041201569),
 (3389, 0.04662524041201569),
 (3392, 0.04662524041201569),
 (3485, 0.04662524041201569),
 (4343, 0.04662524041201569),
 (847, 0.04649905549752771),
 (126, 0.04612656040144426),
 (628, 0.04612656040144426),
 (1617, 0.04612656040144426),
 (1906, 0.04612656040144426),
 (3478, 0.04612656040144426),
 (3493, 0.04612656040144426),
 (193, 0.04607213376254634),
 (192, 0.04564354645876385),
 (280, 0.04564354645876385),
 (361, 0.04564354645876385),
 (885, 0.04564354645876385),
 (1957, 0.04564354645876385),
 (2133, 0.04564354645876385),
 (2388, 0.04564354645876385),
 (3225, 0.04564354645876385),
 (3588, 0.04564354645876385),
 (3728, 0.04564354645876385),
 (4619, 0.04564354645876385),
 (4679, 0.04564354645876385),
 (383, 0.04517539514526256),
 (602, 0.04517539514526256),
 (614, 0.04517539514526256),
 (777, 0.04517539514526256),
 (827, 0.04517539514526256),
 (1297, 0.04517539514526256),
 (2002, 0.04517539514526256),
 (3013, 0.04517539514526256),
 (3930, 0.04517539514526256),
 (4392, 0.04517539514526256),
 (217, 0.044721359549995794),
 (228, 0.044721359549995794),
 (331, 0.044721359549995794),
 (1278, 0.044721359549995794),
 (3748, 0.044721359549995794),
 (3879, 0.044721359549995794),
 (365, 0.04428074427700476),
 (647, 0.04428074427700476),
 (1802, 0.04428074427700476),
 (123, 0.043852900965351466),
 (704, 0.043852900965351466),
 (729, 0.043852900965351466),
 (1121, 0.043852900965351466),
 (1432, 0.043852900965351466),
 (2035, 0.043852900965351466),
 (2130, 0.043852900965351466),
 (2671, 0.043852900965351466),
 (3690, 0.043852900965351466),
 (3941, 0.043852900965351466),
 (4243, 0.043852900965351466),
 (4654, 0.043852900965351466),
 (3810, 0.04366668823046865),
 (4448, 0.04348282767393363),
 (2792, 0.04343722427630694),
 (3174, 0.04343722427630694),
 (2519, 0.043121968093205176),
 (1396, 0.04303314829119352),
 (1462, 0.04303314829119352),
 (1832, 0.04303314829119352),
 (2968, 0.04303314829119352),
 (3309, 0.04303314829119352),
 (3905, 0.04303314829119352),
 (132, 0.04264014327112209),
 (1191, 0.04264014327112209),
 (1733, 0.04264014327112209),
 (1817, 0.04264014327112209),
 (1958, 0.04264014327112209),
 (4120, 0.04264014327112209),
 (4163, 0.04264014327112209),
 (473, 0.04225771273642583),
 (1673, 0.04225771273642583),
 (2153, 0.04225771273642583),
 (2297, 0.04225771273642583),
 (2331, 0.04225771273642583),
 (2439, 0.04225771273642583),
 (2445, 0.04225771273642583),
 (2529, 0.04225771273642583),
 (2715, 0.04225771273642583),
 (2880, 0.04225771273642583),
 (3128, 0.04225771273642583),
 (3344, 0.04225771273642583),
 (3914, 0.04225771273642583),
 (3949, 0.04225771273642583),
 (3978, 0.04225771273642583),
 (4000, 0.04225771273642583),
 (4266, 0.04225771273642583),
 (4279, 0.04225771273642583),
 (4310, 0.04225771273642583),
 (4332, 0.04225771273642583),
 (45, 0.041885390829169554),
 (57, 0.041885390829169554),
 (734, 0.041885390829169554),
 (1639, 0.041885390829169554),
 (3740, 0.041885390829169554),
 (4217, 0.041885390829169554),
 (7, 0.04152273992686998),
 (52, 0.04152273992686998),
 (84, 0.04152273992686998),
 (541, 0.04152273992686998),
 (1011, 0.04152273992686998),
 (1725, 0.04152273992686998),
 (3078, 0.04152273992686998),
 (3298, 0.04152273992686998),
 (4798, 0.04152273992686998),
 (199, 0.04116934847963092),
 (467, 0.04116934847963092),
 (963, 0.04116934847963092),
 (1018, 0.04116934847963092),
 (2498, 0.04116934847963092),
 (2894, 0.04116934847963092),
 (3048, 0.04116934847963092),
 (4627, 0.04116934847963092),
 (599, 0.04113063728303113),
 (63, 0.0408248290463863),
 (812, 0.0408248290463863),
 (1099, 0.0408248290463863),
 (1214, 0.0408248290463863),
 (1327, 0.0408248290463863),
 (1782, 0.0408248290463863),
 (1783, 0.0408248290463863),
 (2136, 0.0408248290463863),
 (2226, 0.0408248290463863),
 (2573, 0.0408248290463863),
 (3393, 0.0408248290463863),
 (3753, 0.0408248290463863),
 (3938, 0.0408248290463863),
 (4358, 0.0408248290463863),
 (4492, 0.0408248290463863),
 (4555, 0.0408248290463863),
 (4651, 0.0408248290463863),
 (222, 0.0404888165089458),
 (262, 0.0404888165089458),
 (455, 0.0404888165089458),
 (1496, 0.0404888165089458),
 (1898, 0.0404888165089458),
 (4695, 0.0404888165089458),
 (89, 0.040233133558936506),
 (156, 0.04016096644512494),
 (182, 0.04016096644512494),
 (491, 0.04016096644512494),
 (1828, 0.04016096644512494),
 (4249, 0.04016096644512494),
 (4789, 0.04016096644512494),
 (654, 0.03984095364447978),
 (733, 0.03984095364447978),
 (1346, 0.03984095364447978),
 (3777, 0.03984095364447978),
 (125, 0.03980586693257065),
 (2634, 0.03952847075210474),
 (2663, 0.03952847075210474),
 (2712, 0.03952847075210474),
 (2762, 0.03952847075210474),
 (2853, 0.03952847075210474),
 (3180, 0.03952847075210474),
 (4138, 0.03952847075210474),
 (4412, 0.03952847075210474),
 (4477, 0.03952847075210474),
 (48, 0.03922322702763681),
 (4330, 0.03863337046431279),
 (4559, 0.03863337046431279),
 (304, 0.03847418820319328),
 (208, 0.038348249442368525),
 (375, 0.038348249442368525),
 (1530, 0.038348249442368525),
 (2567, 0.038348249442368525),
 (2729, 0.038348249442368525),
 (2877, 0.038348249442368525),
 (3126, 0.038348249442368525),
 (3519, 0.038348249442368525),
 (3840, 0.038348249442368525),
 (4474, 0.038348249442368525),
 (4496, 0.038348249442368525),
 (4655, 0.038348249442368525),
 (5, 0.03806934938134405),
 (448, 0.03806934938134405),
 (1130, 0.03779644730092272),
 (4100, 0.03779644730092272),
 (4277, 0.03779644730092272),
 (2256, 0.037529331252040075),
 (2474, 0.037529331252040075),
 (4429, 0.037529331252040075),
 (238, 0.0372677996249965),
 (808, 0.0372677996249965),
 (1282, 0.0372677996249965),
 (1413, 0.0372677996249965),
 (1489, 0.0372677996249965),
 (1698, 0.0372677996249965),
 (1918, 0.0372677996249965),
 (2232, 0.0372677996249965),
 (3072, 0.0372677996249965),
 (3103, 0.0372677996249965),
 (3201, 0.0372677996249965),
 (3621, 0.0372677996249965),
 (3781, 0.0372677996249965),
 (3996, 0.0372677996249965),
 (4044, 0.0372677996249965),
 (4072, 0.0372677996249965),
 (4139, 0.0372677996249965),
 (230, 0.037011660509880265),
 (1689, 0.037011660509880265),
 (747, 0.036760731104690386),
 (2539, 0.036760731104690386),
 (2920, 0.036760731104690386),
 (490, 0.03627381250550058),
 (797, 0.03627381250550058),
 (799, 0.03627381250550058),
 (939, 0.03627381250550058),
 (1335, 0.03627381250550058),
 (1879, 0.03627381250550058),
 (2205, 0.03627381250550058),
 (2435, 0.03627381250550058),
 (2581, 0.03627381250550058),
 (3069, 0.03627381250550058),
 (3505, 0.03627381250550058),
 (3886, 0.03627381250550058),
 (3929, 0.03627381250550058),
 (4198, 0.03627381250550058),
 (4216, 0.03627381250550058),
 (3892, 0.03603749850782236),
 (81, 0.03580574370197164),
 (2150, 0.03580574370197164),

In [ ]:
def recommend(movie):
  movie_index=df[df['title']==movie].index[0]
  distances = similarity[movie_index]
  movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(df.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

Aliens vs Predator: Requiem
Battle: Los Angeles
Aliens
Lifeforce
Apollo 18

In [ ]:
df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [ ]:
import pickle

In [ ]:
pickle.dump(df,open('Movies.pkl','wb'))

In [ ]:
df['title'].values

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
pickle.dump(df.to_dict(),open('movie_dict.pkl','wb'))

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))